{% extends 'base.html.twig' %}

{% block title %}
	Administration
{% endblock %}

{% block body %}
	{% if app.user %}
		<div>
			<h1>Administration</h1>
		</div>
	{% else %}
		<div class="alert alert-warning d-flex align-items-center" role="alert">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
			<div>
				Merci de vous redirigez vers la page d'accueil car vous n'avez pas les droits.
			</div>
		</div>
	{% endif %}
{% endblock %}
