{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<header class="header-blog">
    <div class="header-content">
        <p class="concept">Blog</p>
		<h2 class="title-blog">L’actualité du côté de lämna</h2>
		<p class="text-section-blog">Découvrez le monde du voyage éco-responsable avec le blog lämna. Astuces, destinations durables, et trésors locaux vous attendent pour une exploration responsable et enrichissante.</p>
    <div>
</header>
<section id="section-filters">
    <p class="title-filters">Trier par catégories</p>
    <div></div>
</section>
{% endblock %}
