@import url("clash-display.css");
@import url("inter.css");

:root{
    --main-white-color: #FFFFFF;
    --main-green-color:#497e5c;
    --secondary-green-color: #21432f;
    --tertiary-green-color: #e6f0e8;
    --main-black-color:#141414;
    --secondary-black-color:#646464;
    --main-skin-color: #fbe9cc;
    --main-pink-light: #fef8;
    --main-yellow-color: #fda727;
}

.doublephones {
  background-color: var(--tertiary-green-color);
  border-radius: 15px;
}

.list-number {
  font-size: 18px;
}

.concept {
  padding: 0.1em 0.5em;
  background-color: var(--main-skin-color);
  color: var(--main-yellow-color);
  border: 1px solid var(--main-yellow-color);
  border-radius: 50px;
}

.text-secondary-green {
  color: var(--secondary-green-color);
}

.fw-medium {
  font-weight: 500;
}

h2 {
  color: --var(--secondary-black-color);
}

html,
body {
  *,
  ::before,
  ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

* {
    font-family: "ClashDisplay-Variable";
}

/* NAVIGATION */
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--main-black-color);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* When navigation is cliked */
.navbar-toggler .top-bar {
  margin: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.btn-lamna-outlined {
  text-align: center;
  width: 170px;
  border: 1px solid var(--main-green-color);
  border-radius: 5px;
}

.btn-lamna-full {
    text-align: center;
    width: max-content;
    padding: 10px 20px;
    border: 1px solid var(--main-green-color);
    background-color: var(--main-green-color);
    border-radius: 5px;
  }

.links-networks {
  display: flex;
}

.navbarText-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.links-networks-mobile {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* PRESENTATION */

#section-presentation {
  width: 100%;
  height: max-content;
  padding-top: 84px;
  padding-bottom: 288px;
  background-image: url("../images/background/fondHeader.png");
  display: flex;
  justify-content: center;
}

.bloc-presentation {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloc-presentation h1 {
    width: 75%;
    height: max-content;
  color: var(--secondary-green-color);
  text-align: center;
  font-family: "ClashDisplay-Variable";
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

.bloc-presentation-h2 {
  width: max-content;
  padding: 5px 20px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid var(--main-skin-color);
  background: var(--main-pink-light);
  color: var(--secondary-green-color);
}

.bloc-presentation-h2 h2 {
  color: var(--main-yellow-color);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.bloc-presentation p {
    width: 75%;
    margin-top: 16px;
    font-family: 'Inter';
    margin-bottom: 24px;
    color: var(--secondary-black-color);
    text-align: center;
    font-family: 'Inter-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* MOBILES SECTIONS */
#mobile-app-teasing {
  width: 100%;
  position: relative;
  top: -230px;
  display: flex;
  justify-content: center;
}

.screenMobileSM{
  display: none;
}

.picture-store-disponibility{
  position: absolute;
  bottom: -50px;
  left:50%;
  transform: translateX(-50%);
}

.screenMobileDispoSM {
  bottom: -80px;
}